<!DOCTYPE html>
<html>
<head>
	<title>Projeto jogar dados</title>
</head>
<body>
	<main>
		<h1>Projeto Jogar Dados</h1>
		<button type="button" id="buttonComecar">Começar</button>
	</main>
</body>
<script src='js/jquery-3.4.1.min.js'></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#buttonComecar').click(function(){
			location.href = 'iniciar';
		})

	})
</script>
</html>