<!DOCTYPE html>
<html>
<head>
	<!-- materialize -->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"  media="screen,projection"/>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- materialize -->

<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet"> 
<style type="text/css">
	body{
		font-family: 'Open Sans Condensed', sans-serif;
	}
</style>
	<title>Projeto jogar dados</title>
</head>
<body>
	<main>
	<div style="margin-top: 350px;">
    	<div class="container text-center">
		<h1 style="font-size: 120px;">Projeto Jogar Dados</h1>
		<button type="button" class="btn btn-danger" id="buttonComecar">INICIE O JOGO</button>
  </div>
</div>
	
	</main>
</body>
<script src='js/jquery-3.4.1.min.js'></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#buttonComecar').click(function(){
			location.href = 'iniciar';
		})

	})
</script>
</html>