<!DOCTYPE html>
<html>
<head>
	<title>Projeto jogar dados</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet"> 
	<style type="text/css">
		body{
			font-family: 'Open Sans Condensed', sans-serif;
		}
	</style>
</head>
<body>
	<main>
		<div style="margin-top: 350px;" class="container col-12 col-sm-8 col-md-6 bg-light text-center p-2">
			<h1 style="font-size: 100px;">Projeto Jogar Dados</h1>
			<button type="button" class="btn btn-danger" id="buttonLancarDados">Lançar dados</button>
		</div>

	</main>
</body>
<script src='js/jquery-3.4.1.min.js'></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#buttonLancarDados').click(function(){
			location.href = 'lancarDados';
		})

	})
</script>
</html>