<!DOCTYPE html>
<html>
<head>
	<title>Projeto jogar dados</title>
</head>
<body>
	<main>
		<h1>Projeto Jogar Dados</h1>
		<button type="button" id="buttonLancarDados">Lançar dados</button>

	</main>
</body>
<script src='js/jquery-3.4.1.min.js'></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#buttonLancarDados').click(function(){
			location.href = 'lancarDados';
		})

	})
</script>
</html>